<h1><%= @user.username %> has rented <%= @bike_id %> for <%= @minutes %></h1>

<h3>User Info:</h3>
<p>
  Name: <%= @user.name %>
  Username: <%= @user.username %>
  Email: <%= @user.email %>
</p>

<h3>Most Recent Ryde:</h3>
<p>
  <%= @user.rides.last %>
</p>